%p#notice= notice

%p
  %b Title:
  = @application.title
%p
  %b Description:
  = @application.description
%p
  %b Android link:
  = @application.android_link
%p
  %b Ios link:
  = @application.ios_link
%p
  %b Locale:
  = @application.locale

= link_to 'Edit', edit_application_path(@application)
\|
= link_to 'Back', applications_path
