= content_for :style do
	= stylesheet_link_tag :client, :media => 'screen'

= content_for :promo do
	.promo.paragraph.gray
		%ul.padding-left.small
			%li.promo_title.text-color-title
				= t('client_promo_title')
			%li.promo_content.text-color-content
				= t('client_promo_content')
%table
	%tr
		%td
			= image_tag("clients_image_1.png", :alt => "QuickTouch")
		%td
			%ul.text-color-content
				%li.paragraph.green
					= t('client_fact_1')
				%li.paragraph.green
					= t('client_fact_2')
				%li.paragraph.green
					= t('client_fact_3')
				%li.paragraph.green
					= t('client_fact_4')
				%li.paragraph.green
					= t('client_fact_5')
				%li.paragraph.green
					= t('client_fact_6')
	%tr
		%td
		%td.text-color-title.padding-left.middle
			%p
				= t('client_fact_7')
			%p
				= t('client_fact_8')
.products
	.title
		= t('client_product')
	.container
		- @products.each do |product|
			.item
				= link_to image_tag(product.photo.url()), product_path(product.id)