= content_for :style do
	= stylesheet_link_tag :partner, :media => 'screen'

= content_for :promo do
	.promo.paragraph.gray
		%ul.padding-left.small
			%li.promo_title.text-color-title
				= t('partner_promo_title')
			%li.promo_content.text-color-content
				= t('partner_promo_content')

= image_tag(partner_banner_path, :alt => "QuickTouch")

.block_1.text-color-content
	= image_tag("lizzard_icon.png", :alt => "QuickTouch")
	= t('partner_block_1')
.block_2.text-color-title
	= t('partner_block_2')
.block_3.text-color-content
	%p
		= t('partner_block_3_1')
	%p
		= t('partner_block_3_2')
	%p
		= t('partner_block_3_3')

