= content_for :style do
	= stylesheet_link_tag :portfolio, :media => 'screen'
= content_for :promo do
	.promo.paragraph.gray
		%ul.padding-left.small
			%li.promo_title.text-color-title
				= t('portfolio_promo_title')
			%li.promo_content.text-color-content
				= t('portfolio_promo_content')

- @applications.each do |application|
	%table
		%tr
			%td
				.image= link_to image_tag(application.photo.url()), :controller => "pages", :action => "appview", :id => application.id
				

			%td
				.title= application.title
				.description= raw(application.description)
				.links
					%ul
						- if !application.android_link.blank?
							%li= link_to "Android", application.android_link, :target => "_blank"
						- if !application.ios_link.blank?
							%li= link_to "iOS", application.ios_link, :target => "_blank"
						- if !application.web_link.blank?
							%li= link_to "WEB", application.web_link, :target => "_blank"
