%html
	%head
		= csrf_meta_tags		
		= stylesheet_link_tag "http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic,latin-ext,cyrillic-ext"
		= stylesheet_link_tag :common, :media => 'screen'
		/ = javascript_include_tag "jquery-1.9.0.min"
		= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
		= javascript_include_tag "jquery.prettyPhoto"
		= javascript_include_tag "jquery.cookie"
		= javascript_include_tag "common"
		= javascript_include_tag "popup"
		
		%title Quick Touch - разработка мобильных приложений Android, iOS,  Windows Phone
		
		= yield :scripts
		= yield :style

		= stylesheet_link_tag :prettyPhoto, :media => 'screen'
	%body
		:javascript
			(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter34285220 = new Ya.Metrika({ id:34285220, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-36932968-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		.div
			= image_tag("https://mc.yandex.ru/watch/34285220")
		.wrapper
			.header
				.logo
					= link_to logo, root_path
				.routes
					.locale
						= link_to_unless I18n.locale == :en, "english version ", locale: :en
						|
						= link_to_unless I18n.locale == :ru, " русская версия", locale: :ru
					.nav
						%ul
							%li= link_to t('nav_home'), root_path
							%li= link_to t('nav_client'), client_path
							%li= link_to t('nav_partner'), partner_path
							%li= link_to t('nav_works'), portfolio_path
							%li= link_to t('nav_contact'), contact_path
					= yield :promo

			.content
				= yield
			.footer
				.label
					= link_to image_tag("label.png", :alt => "QuickTouch"), root_path
				.contact
					%table
						%tr
							%td.paragraph.yellow.padding-left.small email:
							%td clients@quicktouch.ru

				.slogan
			.copyright
				QuickTouch.ru , 2012 - 2016
%div#dialog-overlay
%div#dialog-box
	= link_to image_tag("qt_delivery_promo.jpg", :alt => "Приложение доставки за 500р"), product_path(2)


