%html
	%head
		= csrf_meta_tags		
		= stylesheet_link_tag "http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic,latin-ext,cyrillic-ext"
		= stylesheet_link_tag :common, :media => 'screen'
		/ = javascript_include_tag "jquery-1.9.0.min"
		= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
		= javascript_include_tag "google-analytic"
		= javascript_include_tag "tinymce/tinymce.min.js"
		= javascript_include_tag "jquery.prettyPhoto"
		= javascript_include_tag "common.js"
		
		%title Quick Touch - разработка мобильных приложений Android, iOS,  Windows Phone
		
		= yield :scripts
		= yield :style

		= stylesheet_link_tag :prettyPhoto, :media => 'screen'
	%body
		.wrapper
			.header
				.logo
					= link_to logo, root_path
				.routes
					.locale
						= link_to_unless I18n.locale == :en, "english version ", locale: :en
						|
						= link_to_unless I18n.locale == :ru, " русская версия", locale: :ru
					.nav
						%ul
							%li= link_to t('nav_home'), root_path
							%li= link_to t('nav_client'), client_path
							%li= link_to t('nav_partner'), partner_path
							%li= link_to t('nav_works'), portfolio_path
							%li= link_to t('nav_contact'), contact_path
					= yield :promo

			.content
				= yield
			.footer
				.label
					= link_to image_tag("label.png", :alt => "QuickTouch"), root_path
				.contact
					%table
						%tr
							%td.paragraph.yellow.padding-left.small email
							%td dmitrii.malakhov@gmail.com
						%tr
							%td.paragraph.yellow.padding-left.small= t('phone')
							%td 8 953 552 79 22
						%tr
							%td.paragraph.yellow.padding-left.small= t('phone')
							%td 8 952 444 44 55

				.slogan
			.copyright
				Copyright QuickTouch LLC, 2013